import React from 'react';
import PropTypes from 'prop-types';

const {{pascalCase name}} = ({ label }) => {
  return (
    <div>
      <p>{label}</p>
    </div>
  );
};

{{pascalCase name}}.propTypes = {
  label: PropTypes.string.isRequired,
};

export default {{pascalCase name}};
